@model HotelSystem.Models.Customers

@{
    ViewBag.Title = "Details of Customer";
}

@*@if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-info">
            @ViewBag.Message
        </div>
    }*@

@using (Html.BeginForm("Update", "Customers", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Date Of Birth</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(m => m.Id)</td>
                <td>@Html.TextBoxFor(m => m.FirstName)</td>
                <td>@Html.TextBoxFor(m => m.LastName)</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
                <td>@Html.TextBoxFor(m => m.PhoneNumber)</td>
                <td>@Html.TextBoxFor(m => m.Address)</td>
                <td>@Html.TextBoxFor(m => m.DateOfBirth, new { @type = "date" })</td>
                <td>@Html.TextAreaFor(m => m.Note)</td>
                <td>
                    <input type="submit" value="Update" class="btn btn-success" />
                </td>
            </tr>
        </tbody>
    </table>
}
@using (Html.BeginForm("Delete", "Customers", new { Id = Model.Id }, FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <input type="submit" value="Delete" class="btn btn-danger" />
}



<!--Modal-->

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">Result</h5>
                <button id="closeModalButton" type="button" class="close hiding" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="resultMessage"></p>
            </div>
            @*<div class="modal-footer">
                    <button id = "closeModalButton" class="close hiding btn btn-secondary" type="button"  data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>

@section Scripts {
    <script>
$(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault();

                var form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response) {

                        $('#resultMessage').text(response.message);
                        $('#resultModal').modal('show');
                    },
                    error: function () {
                        $('#resultMessage').text('An error occurred while processing your request.');
                        $('#resultModal').modal('show');
                    }
                });
            });
});
        $('#closeModalButton').on('click', function () {
            $('#resultModal').css('visibility', 'hidden').modal('hide');
            /*location.reload();*/ /*refresh current page */
            window.location.href = '@Url.Action("Index", "Customers", new { Id = Model.Id })';
        });
    </script>
}
