@model HotelSystem.Models.Booking

@{
    ViewBag.Title = "Details of Booking";
}



@using (Html.BeginForm("Update", "Booking", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Room Id</th>
                <th>Customer Id</th>
                <th>Check In Date</th>
                <th>Check Out Date</th>
                <th>Total Amount</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DropDownListFor(m => m.RoomId, new SelectList(ViewBag.Rooms, "Id", "RoomNumber", Model.RoomId), "Select Room", new { @class = "form-control" })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.CustomerId, new SelectList(ViewBag.Customers, "Id", "LastName", Model.CustomerId), "Select Customer", new { @class = "form-control" })
                </td>
                <td>@Html.TextBoxFor(m => m.CheckInDate, new { @type = "date" })</td>
                <td>@Html.TextBoxFor(m => m.CheckOutDate, new { @type = "date" })</td>
                <td>@Model.TotalAmount</td>
                <td>@Html.TextBoxFor(m => m.Note)</td>
                <td>
                    <input type="submit" value="Update" class="btn btn-success" />
                </td>
            </tr>
        </tbody>
    </table>
}
@using (Html.BeginForm("Delete", "Booking", new { Id = Model.Id }, FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <input type="submit" value="Delete" class="btn btn-danger" />
}

<!--Modal-->

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">Result</h5>
                <button id = "closeModalButton" type="button" class="close hiding" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="resultMessage"></p>
            </div>
            @*<div class="modal-footer">
                <button id = "closeModalButton" class="close hiding btn btn-secondary" type="button"  data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>

@section Scripts {
    <script>
$(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault(); 

                var form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response) {
                        
                        $('#resultMessage').text(response.message);
                        $('#resultModal').modal('show');
                    },
                    error: function () {
                        $('#resultMessage').text('An error occurred while processing your request.');
                        $('#resultModal').modal('show');
                    }
                });
            });
});
        $('#closeModalButton').on('click', function () {
            $('#resultModal').css('visibility', 'hidden').modal('hide');
            /*location.reload();*/ /*refresh current page */
            window.location.href = '@Url.Action("Index", "Booking", new { Id = Model.Id })';
        });
    </script>
}


