@model IEnumerable<HotelSystem.Models.Booking>
@{
    ViewBag.Title = "Booking";
}

<h2>Booking</h2>

@Html.ActionLink("Add New", "InsertForm", "Booking", new { area = "" }, new { @class = "btn btn-primary" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Room Id</th>
            <th>Customer Id</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
            <th>Total Amount</th>
            <th>Note</th>
            <th>TEST</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.Id</td>
                <td>@booking.RoomId</td>
                <td>@booking.CustomerId</td>
                <td>@booking.CheckInDate.ToString("dd.MM.yyyy.hh.mm")</td>
                <td>@booking.CheckOutDate.ToString("dd.MM.yyyy.hh.mm")</td>
                <td>@booking.TotalAmount</td>
                <td>@booking.Note</td>
                <td>
                    @Html.ActionLink("Edit", "Details", new { id = booking.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
