@model HotelSystem.Models.Booking

@{
    ViewBag.Title = "Adding new Booking";
}


@using (Html.BeginForm("Insert", "Booking", FormMethod.Post))
{
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Room Id</th>
                <th>Customer Id</th>
                <th>Check In Date</th>
                <th>Check Out Date</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.TextBoxFor(m => m.RoomId)</td>
                <td>@Html.TextBoxFor(m => m.CustomerId)</td>
                <td>@Html.TextBoxFor(m => m.CheckInDate, new { @type = "date" }) </td>
                <td>@Html.TextBoxFor(m => m.CheckOutDate, new { @type = "date" })</td>
                <td>@Html.TextAreaFor(m => m.Note)</td>
                <td>
                    <input type="submit" value="Insert" class="btn btn-success" />
                </td>
            </tr>
        </tbody>
    </table>
}
